<header class="w-full mx-auto titolo">
    <div class="container mx-auto flex flex-wrap p-5 flex-col items-center">
        {%if page.type == "studio" or page.type == "post" or page.type == "articolo" %}
        <a href="/" class="whitespace-nowrap text-brand header-logo hvr-bounce-in" alt="home">
            <img class="mx-auto h-20" src="/assets/foto/altro/logo-white.webp" alt="logo" />
        </a>
        <nav class="flex flex-wrap items-center text-base menu-nav-white text-center">
            {% for item in site.data.nav %}
                <a href="{{ item.link }}" class="whitespace-nowrap px-8 text-white hvr-bounce-in" alt="{{item.name}}">
                    {{item.name}}
                </a>
                {% endfor %}
        </nav>
        {%else%}
        <a href="/" class="whitespace-nowrap text-brand header-logo hvr-bounce-in" alt="home">
            <img class="mx-auto h-20" src="/assets/foto/altro/logo.webp" alt="logo" />
        </a>
        <nav class="flex flex-wrap items-center text-base menu-nav text-center">
            {% for item in site.data.nav %}
                <a href="{{ item.link }}" class="whitespace-nowrap px-8 text-brand hvr-bounce-in" alt="{{item.name}}">
                    {{item.name}}
                </a>
                {% endfor %}
        </nav>
        {%endif%}
    </div>
</header>