<div class="w-full bg-cream">
  <div class="self-stretch w-full max-w-screen-xl mx-auto pt-8 px-4 md:pb-8 lg:px-20 xl:px-32 flex flex-col md:flex-row justify-center items-center gap-8 md:gap-12">
    
    <!-- LEFT CONTENT -->
    <div class="w-full md:w-1/2 flex flex-col justify-center items-start gap-4 text-left titolo">
        {% include icon.html icon="waves" %}
        <div class="text-lg text-charcoal leading-7">
          {{page.caption}}
        </div>

      <div class="text-5xl md:text-6xl font-extrabold leading-[60px]">
        {{page.title}}
        <span class="-ml-2">{% include icon.html icon="dot" %}</span>
      </div>

      <div class="w-full text-lg leading-loose text-charcoal">
        {{page.excerpt}}
      </div>
      
      {% if page.type == "home" %}
      <div class="pt-8">
        {% include button.html link="/about-us/" label="Learn More" icon="right" type="full" %}
      </div>
      {% endif %}
      
    </div>

    <!-- RIGHT IMAGE -->
    <div class="w-full md:w-1/2 flex justify-center items-center relative titolo">
      <div class="w-full md:w-[80%] max-w-[460px]">
        <img class="w-full h-auto rounded-2xl shadow-[0px_1px_3px_0px_rgba(0,0,0,0.16)]" src="/assets/images/{{page.image}}.webp" alt="{{page.title}}" />
      </div>

      {% if page.type == "home" %}
      <div class="p-5 left-0 md:left-4 top-0 md:-top-12 absolute bg-white shadow-[0px_1px_3px_0px_rgba(0,0,0,0.16)] inline-flex justify-center items-start gap-3 rounded-br-2xl rounded-tl-2xl md:rounded-2xl">
        {% include icon.html icon="message-bubbles" %}
        <div class="w-28 flex flex-col justify-start items-center">
          <div class="text-center text-charcoal text-lg leading-7">Worked with</div>
          <div class="text-center text-black text-lg leading-7">130+ Leaders</div>
        </div>
      </div>
      {% endif %}
    </div>

  </div>
</div>