---
layout: compressa
---
{% include capo.html %}
<section>
    <div class="flex flex-col items-center text-center titolo">
        <div class="mt-7 mx-2 mb-2 text-7xl font-display text-brand">
              <a href="" class="typewrite" data-period="2000" data-type='[
              "Hello", "Ciao", "Olá", "Jambo", "Bonjour", "Namaste", "Shalom", "Oi", "Guten Tag", "Konnichiwa", "Aloha", "Salve", "Hei", "Li-hó", "Marhaba", "Buenos Días", "Ndewo", "Dumela", "Nuqneh", "Rytsas", "Nǐ hǎo", "Ya Sou", "Zdravstvuyte", "Sveiki", "Salut", "Kia Ora", "Talofa", "Xin Chào", "Sawubona", "Báwo Ni", "Privet"
              ]'>
                <span class="wrap"></span>
              </a>
        </div>
        <div class="mx-8 text-lg md:text-xl flex text-color">
            We are Auxilia, <br>nice to meet you!
        </div>
    </div>
    {% include hero.html %}
    <div class="flex flex-col items-center bg-brand text-light">
        <div class="mx-14 mt-7 mb-28 flex max-w-xl justify-center text-center text-base md:mx-32 titolo">
            We specialize in website &amp; mobile app design, collaborating with agencies, consulting for startups, and working alongside talented individuals to create cutting-edge digital products for both business &amp; consumer use.
        </div>
    </div>
</section>
{% include servizi.html %}
<div class="mb-12 -mt-12 flex flex-col items-center titolo">
    {% include pulsanti.html link="/about/" label="About Us" type="body" %}
</div>
<div class="flex flex-col items-center mb-7 titolo">
    <div class="text-4xl font-display text-brand">
        Our Work
    </div>
    <div class="text-lg md:text-xl text-center text-color mx-14">
        A taste of what we can do for you.
    </div>
</div>
{% include lavori.html limit=6 %}
<div class="mb-12 -mt-8 flex flex-col items-center titolo">
    {% include pulsanti.html link="/studio/" label="Case Studies" type="body" %}
</div>
{% include referenze.html %}
{% include piede.html %}