---
layout: compressa
---
{% include capo.html %}
<section>
    <div class="flex flex-col items-center text-center titolo">
        <div class="mt-7 mx-10 text-5xl mb-1 font-display text-brand">
            Who We Are
        </div>
        <div class="mx-8 mb-0 text-lg md:text-xl text-color">
            Small Team. Big Results.
        </div>
    </div>
    {% include hero.html %}
    <div class="flex flex-col items-center bg-brand text-light">
        <div class="mx-14 mt-7 mb-20 flex max-w-xl justify-center text-center text-base md:mx-48 titolo">
           We're a group of imaginative minds driven by an innate curiosity to create, refine, and reimagine digital products. Our culture is rooted in straight talk &amp; good vibes, with no corporate politics or unnecessary drama. Rest assured, when we dive into a project, we'll treat it with the same level of care &amp; enthusiasm as you do.
        </div>
    </div>
</section>
<section id="services" class="titolo">
    <div class="relative z-30 -mt-16 flex flex-col items-center">
        <div class="h-32 w-32">
            <img src="/assets/foto/altro/profilo.gif" class="profilo-image" />
        </div>
    </div>
    <div class="mt-4 flex flex-col items-center">
        <div class="text-center font-display text-4xl text-brand">
            What We Do
        </div>
        <div class="mt-2 mb-10 mx-10 flex max-w-xl justify-center text-center text-base text-color md:mx-32">
            We strive to craft experiences that strike a chord, seamlessly blending impact, user-friendliness, and a touch of whimsy. We transform your design vision into functional code, and work hand in hand with you to turn your ideas into reality.
        </div>
    </div>
    {% include colore.html %}
</section>
{% include servizi-all.html %}
{% include cliente.html %}
<div class="mt-8 mb-36 md:mb-24 flex flex-col items-center titolo">
    {% include pulsanti.html link="/studio/" label="View Work" type="body" %}
</div>
{% include piede.html %}