---
layout: compressa
---
{% include capo.html %}
<section>
    <div class="flex flex-col items-center text-center titolo">
        <div class="mt-7 mx-10 text-5xl mb-0 font-display text-brand">
            Our Work
        </div>
        <div class="mx-8 mb-0 text-lg md:text-xl text-color">
            Design is thinking made visual.
        </div>
    </div>
    {% include hero.html %}
    <div class="flex flex-col items-center bg-brand text-light">
        <div class="mx-14 mt-7 mb-28 flex max-w-xl justify-center text-center text-base md:mx-32 titolo">
            Our process is collaborative, iterative and driven by intent. We hold various checkpoints during our process, presenting progress for review before each phase so we make sure that there are no surprises at the end.
        </div>
    </div>
</section>
{% include processi.html %}
<section class="flex flex-col items-center mb-7 titolo">
    <div class="text-4xl font-display text-brand">
        Portfolio
    </div>
    <div class="text-lg md:text-xl text-center text-color mt-0 mx-14">
        We create meaningful digital experiences.
    </div>
</section>
{% include lavori.html %}
<div class="mb-44 md:mb-32"></div>
{% include piede.html %}