---
layout: compressa
---
{% include header.html %}
<div class="flex flex-col justify-center items-center">
{% include nav.html %}
{% include hero.html %}
<div class="w-full">
	<div class="self-stretch w-full max-w-screen-xl mx-auto pt-1 pb-8 px-8 lg:px-20 flex justify-between items-center titolo">
	<div class="flex flex-col md:flex-row gap-8">
			<div class="pt-8 flex flex-col justify-center items-center gap-8">
			  <p class="mx-auto text-charcoal md:w-[80%] md:text-center text-lg">
				We use Integral Coaching to help leaders and organizations grow from the inside out by deepening their self-awareness, aligning with their values, developing new skills, instilling balance across all areas of their lives, and building their capacity to lead transformational change.
			  </p>
			  <div class="flex flex-col md:flex-row gap-8">
				<div class="mx-auto text-charcoal md:w-[50%]">
				  Integral Coaching is different from other types of coaching because it honors the individual to create and instill balance within individuals, their teams, and their communities. Coaching is not a quick fix to our challenges as leaders, it’s a powerful, long-term investment in ourselves, our leadership, and our community. In coaching, a person works with a trained, certified coach who helps them to tackle personal and professional challenges in order to rise to become their best self.</div>
			
				<div class="mx-auto text-charcoal md:w-[50%] flex flex-col gap-1">
				  <p>By looking through a multitude of lenses and working to better understand ourselves, our eyes and hearts open to new ways of looking, feeling, connecting, and leading. </p>
				  <p>For instance, a CRL coach might guide you through:</p>
				  <ul class="list-disc ml-6 pl-4 text-charcoal leading-7 space-y-2">
				  <li>Understanding systems and their dynamics.</li>
				  <li>Clarifying your leadership identity, tendencies, and values.</li>
				  <li>Prioritizing wellness and sustainability.</li>
				  <li>Strengthening organizational culture and impact strategies.</li>
				  </ul>
				</div>
			  </div>
			</div>
		</div>
	</div>
	<div class="w-full h-[400px] max-w-screen-lg mx-auto overflow-hidden lg:mb-8 lg:rounded-2xl shadow-[0px_1px_3px_0px_rgba(0,0,0,0.16)] titolo">
	  <img
		src="/assets/images/programs/coaching-content.webp"
		alt="Our Story"
		class="w-full h-full object-cover"
	  />
	</div>	
	<div class="w-full pt-4 pb-8 titolo">
	<div class="self-stretch w-full max-w-screen-xl mx-auto pb-8 px-4 lg:px-20 flex justify-between items-center">
	<div class="flex flex-col md:flex-row gap-8">
			<div class="flex flex-col justify-center items-center gap-8">
			  <p class="mx-auto text-charcoal md:w-[80%] md:text-center">
				We have experience working with clients from a wide variety of countries and cultural contexts including the UK, Brazil, Canada, East Africa, and South Africa. We are currently accepting a limited number of new clients. Reach out to us today to determine if we are a good fit for you and your goals!
			  </p>			
			</div>
		</div>
	</div>	
		{% include quote.html %}
		<div class="self-stretch w-full mx-auto px-4 flex justify-center items-center">
			{% include button.html link="/contact/" label="Get Started" icon="right" type="clear" %}
		</div>
	</div>
</div>
</div>
{% include footer.html %}