---
layout: compressa
---
{% include header.html %}
<div class="flex flex-col justify-center items-center">
	{% include nav.html %}
	{% include hero.html %}
	
	<div class="w-full">
		<div class="self-stretch w-full max-w-screen-xl mx-auto py-16 px-4 lg:px-20 xl:px-32 flex flex-col justify-between items-center titolo">
			<div class="self-stretch grid grid-cols-1 md:grid-cols-4 justify-between items-start gap-6">
			  {% for i in (1..20) %}
			  <div class="w-full flex flex-col justify-start items-center overflow-hidden cursor-pointer" onclick="openLightbox('/assets/images/gallery/cohort-2/cohort-2-{{i}}.webp')">
				<img class="self-stretch h-full object-cover rounded-xl hover:opacity-80 transition shadow-[0px_1px_3px_0px_rgba(0,0,0,0.16)]" src="/assets/images/gallery/cohort-2/cohort-2-{{i}}.webp" alt="Cohort 2 Image {{i}}" />
			  </div>
			  {% endfor %}
			</div>
			
		</div>
		<!-- Lightbox -->
		<div id="lightbox" class="hidden fixed inset-0 bg-black/80 flex items-center justify-center z-50">
		  <button onclick="closeLightbox()" class="absolute top-2 right-6 text-white text-3xl font-light">&times;</button>
		  <img id="lightbox-image" src="" alt="Expanded image"
			class="max-w-[85%] max-h-[85%] rounded-xl shadow-lg cursor-default">
		</div>
	</div>
	
	{% include footer.html %}
</div>