---
layout: compressa
---
{% include header.html %}
<div class="flex flex-col justify-center items-center">
	{% include nav.html %}
	{% include hero.html %}

	<div class="w-full">
		<div class="self-stretch w-full max-w-screen-xl mx-auto py-16 px-8 lg:px-20 xl:px-32 flex flex-col justify-between items-center titolo">

			{% include title.html caption="Milestones" title="Our Achievements" dot="yes" align="center" %}

			<div class="pt-8 flex flex-col justify-start items-start gap-4 text-charcoal md:w-[60%] md:text-center md:justify-center md:items-center">
				<p>
					We have worked with over 130 leaders from 14 national and regional organizations and initiatives, three community-based organizations, and four networks in Kenya, Tanzania, and Uganda across three different CRLI cohorts. </p>
					
					<p>We integrate a gender lens in our programming, and strive to ensure that at least 50% of our enrolled leaders are women. At present 60% of our graduates are women. We are proud of the ways that our support to leaders has led to meaningful change within the leader and their organization.
				</p>
				<p>
					40% of our CRLI participants report having never received leadership training before attending CRLI, and 75% report having never worked with a leadership or career coach before. CRLI's work on leadership coaching is filling an important felt need for leaders.
				</p>

				<p>
					After graduating from CRLI, leaders report:
				</p>

			</div>

			<div class="self-stretch mt-16 grid grid-cols-1 md:grid-cols-3 justify-between items-start gap-12">
				
				<div class="inline-flex flex-col justify-center items-center gap-4">
					{% include icon.html icon="achievement-1" %}
					<div class="flex flex-col justify-center items-center gap-0">
						<div class="text-2xl font-bold text-center">Enhanced Leadership Capacity</div>
						<p class="pt-4 text-charcoal text-center">
							Leaders developed greater self-awareness through structured reflection, coaching, and peer learning. They identified their personal strengths, blind spots, and behavioral patterns, supporting their desired leadership transformation.
						</p>
					</div>
				</div>
				
				<div class="inline-flex flex-col justify-center items-center gap-4">
					{% include icon.html icon="achievement-2" %}
					<div class="flex flex-col justify-center items-center gap-0">
						<div class="text-2xl font-bold text-center">Renewed Clarity of Purpose</div>
						<p class="pt-4 text-charcoal text-center">
							Organizations demonstrated an improved ability to recognize gaps between their existing practices and their ideal approach to fulfilling their mission.
						</p>
					</div>
				</div>
				
				<div class="inline-flex flex-col justify-center items-center gap-4">
					{% include icon.html icon="achievement-3" %}
					<div class="flex flex-col justify-center items-center gap-0">
						<div class="text-2xl font-bold text-center">Improved Team Dynamics and Collaboration</div>
						<p class="pt-4 text-charcoal text-center">
							Leaders embraced consultative decision-making, built trust, and fostered a culture of open communication, resulting in stronger team cohesion and alignment with organizational goals.
						</p>
					</div>
				</div>
				
				<div class="inline-flex flex-col justify-center items-center gap-4">
					{% include icon.html icon="achievement-4" %}
					<div class="flex flex-col justify-center items-center gap-0">
						<div class="text-2xl font-bold text-center">Organizational Transformation</div>
						<p class="pt-4 text-charcoal text-center">
							Participating organizations made systemic shifts and identified steps needed for transformation. This includes strengthening group dynamics, implementing wellness initiatives, adopting inclusive communication frameworks, and establishing participatory decision-making structures.
						</p>
					</div>
				</div>
				
				<div class="inline-flex flex-col justify-center items-center gap-4">
					{% include icon.html icon="achievement-5" %}
					<div class="flex flex-col justify-center items-center gap-0">
						<div class="text-2xl font-bold text-center">Greater Self-Awareness and Willingness to Make Change</div>
						<p class="pt-4 text-charcoal text-center">
							Self-awareness opened a new world to participants and fostered openness to growth, empathy, and reflection. This shift led to consultative decision-making, improved communication, and a psychologically safe team environment, fostering collective problem-solving, shared accountability, and increased productivity.
						</p>
					</div>
				</div>
				
				<div class="inline-flex flex-col justify-center items-center gap-4">
					{% include icon.html icon="achievement-6" %}
					<div class="flex flex-col justify-center items-center gap-0">
						<div class="text-2xl font-bold text-center">Improved Work-Life Balance</div>
						<p class="pt-4 text-charcoal text-center">
							Leaders who have completed CRLI report using more of their time off, having better time management, and disconnecting more from work because they trust their colleagues more. With their additional time, leaders are taking better care of their physical, mental, and spiritual wellbeing, in addition to prioritizing time with family.
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	{% include testimonials.html %}
	{% include footer.html %}
</div>